*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.home-body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(picture/6-photoshop2.jpg);
    background-size: cover;
    height: 100%; 
    align-items: center;
    display: flex;
     
}
.home-header{
    z-index: 99;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}
.logo{
    font-family:  'Dancing Script', cursive;
    color:#EF993D;
}
.logo h1{
    margin-bottom: 0;
}
.menu-bar{
    text-align: center;
    font-family:'roboto', sans-serif ;
}
.menu-bar ul{ 
    display: inline-flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}
.menu-bar ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.menu-bar ul li a:hover{
    text-decoration: none;
    color: #99BEA9;
    
}
.menu-bar i {
    margin-right: 5px;
}

.sub-menu{
    display: none;
    padding-right: 50px;
}
.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color:#EF993D;
}
.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu ul li{
    width: 70px;
    padding: 10px;
    transition: all 0.3 ease-in-out; 
}
 .home-title{
    display: flex;
    justify-content: space-around;
    width: 100%;
} 

.name-welcome{
    display: flex;
    flex-direction: column;
}
.welcome{
   font-family: 'Nunito', sans-serif;
   color: #F4E4CD;
   font-weight: bold;
   font-size: 50px;
}
.worldflavors-hub{
    font-family:  'Dancing Script', cursive;
    color:#EF993D;
    font-size: 70px;
    text-shadow: 0 0 20px #EF993D , 0 0 40px #EF993D;


}

.name-welcome h4{
    color: #F4E4CD;
    font-family: 'Nunito', sans-serif;
    max-width: 500px;
    margin:10px 0 30px;
}
.quote-description {
    display: flex;
    flex-direction: column;
    color: #F4E4CD;
    
}
.quote-description .description{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.quote-description .quote{
    text-shadow: 0 0 20px #EF993D , 0 0 40px white;
    margin-left: 35px;

}
.quote-description .quote .what{
    margin-left: 23px;
}
.book-button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color:#EF993D;
    border:2px solid #EF993D;
    color: white;
}
.book-button:hover{
    background-color:transparent ;
}
.buttons{
    display: flex;
    font-family: 'Nunito', sans-serif;
}

.first-button{
    border:2px solid #EF993D ;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: #F4E4CD;
    font-weight: bold;  
}
.first-button:hover{
    background-color:#EF993D ;
}
.second-button{
    border:2px solid #EF993D ;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    background-color: transparent;
    color: #F4E4CD;
    margin-left: 15px;
    font-weight: bold;
    
}
.second-button:hover{
    background-color: #EF993D ; 
}

.parallax-image{
    background-image: url(picture/background.jpeg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax-image::after{
    z-index: 0;
    left: 0;
    top:0;
    content: '';
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.25);
}

 .parallax-text{
    display: flex;
    min-height: 500px;
    justify-content: space-around;
    align-items: center;
     
    
} 
.parallax-text .item{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    z-index: 99999; 
}
.row1{
    display: flex;
    gap: 10px;
    padding-left: 40px;
}
.row1 .img1{
    height: 280px;
    width: 280px;
}
.row1 .img2{
    height:220px ;
    width: 220px;
    margin-top: 60px; /* 280px - 220px*/
}
.row2{
    display: flex;
    gap: 10px;
    
}
.row2 .img3{
    height:220px ;
    width: 220px;
}
.row2 .img4{
    height: 280px;
    width: 280px; 
}
.images-container{
   display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-us .about-paragraphe{
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 20px; 
    
    
}
.about-us .about-paragraphe p{
    font-size: 25px;
    /* width: 400px;  */
    text-align: center;
    max-width: 70%;
    margin: auto;
    font-family:'roboto', sans-serif ;
    line-height: 30px;
}
.about-us .about-paragraphe p::first-letter{
    color:#EF993D;
    text-shadow: 0 0 20px #EF993D , 0 0 40px #fdfdfd ;
    font-size: 35px;
    font-family:  'Dancing Script', cursive;
}
.about-us .about-paragraphe h3{
    font-family:  'Dancing Script', cursive;
    color:#EF993D;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 0 0 20px #EF993D , 0 0 40px #EF993D;
    
}

.about-us{
    padding: 90px;
    display: flex;
    justify-content: space-around;
     /* background-color: rgba(239, 153, 61, 0.1);  */
    background-color: black;
    color: white;
}
.why-us span {
    font-family:  'Dancing Script', cursive;
    color:#EF993D;
    font-weight: bold;
    text-shadow: 0 0 20px #EF993D , 0 0 40px #EF993D;
}
.why-us{
    margin: 50px;
    font-family: 'Nunito', sans-serif;
}
.why-us h1{
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}
.all-containers{
    display: flex;
    flex-direction: column;
}


.why-us .box {
    margin: 20px;
    padding: 50px 30px;
    box-shadow: 3px 5px 15px 2px #99BEA9 ,3px 5px 15px 2px #EF993D inset;
    transition: all ease-in-out 0.3s;
    height: 100%;
  }
  
  .why-us .box .nbr {
    font-size: 28px;
    font-weight: bold;
    color: #99BEA9;
  }
  
  .why-us .box h4 {
    color: #ffb03b;
    font-family:'Dancing Script', cursive ;
    font-size: 30px;
    padding: 0;
    margin: 20px 0;
    
  }
  
  .why-us .box p {
     font-family:'Nunito', sans-serif ; 
    color: #706f6f;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #ffb03b;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(146, 19, 75, 0.18);
  }
  
  .why-us .box:hover .nbr,
  .why-us .box:hover h4,
  .why-us .box:hover p {
    color: #fff;
  }

  /* contact page*/

  .page-head{
    gap: 20px;
    display: flex;
    justify-content: center;
     align-items: center;
    background-image: url(picture/17.jpg);background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(picture/17.jpg);
    height: 60%;
    width: 100%; 
    background-size: cover;
    background-position: center;
    max-height: 200ox;

    
} 
.page-head h1 {
     font-family:  'Dancing Script', cursive; 
    color:#ffffff;
    /* font-family:'roboto', sans-serif ; */
    font-size: 70px;
    text-shadow: 0 0 20px #EF993D , 0 0 40px #EF993D;
    
} 
  .contact-head .contact-img{
    background-image: url(picture/17.jpg);background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(picture/17.jpg);
    height: 60%;
    width: 100%; 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    
    
  }
 .item-contact{
    gap: 20px;
    position: absolute;
    left:30%; 
    top: 25%;
} 
.item-contact h1 {
     font-family:  'Dancing Script', cursive; 
    color:#ffffff;
    /* font-family:'roboto', sans-serif ; */
    font-size: 70px;
    
    text-shadow: 0 0 20px #EF993D , 0 0 40px #EF993D;
    
}
.time{
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: space-around;


}
.time h5{
    font-size: 25px;
    color:white;
    font-family:'roboto', sans-serif  ;
    opacity: 0.8;
}

.opening-time{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border:2px solid #706f6f;
    justify-content: space-around;
     background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(picture/18.JPG); 
    box-shadow:3px 5px 15px 2px #706f6f ;
    height: 200px;
    width: 600px;
    margin-left: 30rem; 

}
.opening{
    display: flex;
    justify-content: center;
    z-index: 9999; 
    /* color: white;
    font-family: 'Dancing Script', cursive ; */


}

.opening h1{
    color: white;
    font-family:'Dancing Script', cursive ;
    text-shadow: 0 0 20px #EF993D , 0 0 40px #EF993D;
    font-size: 50px;
}


.social-media .info-item{
    background-color:#F4F4F4 ;
    padding: 30px;
    display: flex;
    align-items: center;
    width: 40rem;
    
}
 .social-media .info-item i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 25px;
    background-color: black;
    border-radius: 100%;
    margin-right: 10px;
} 
.social-media .info-item h4 {
    font-size: 20px;
    color: #EF993D;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family:'roboto', sans-serif ;
  }
  
  .social-media .info-item h6 {
    padding: 0;
    margin: 0;
    line-height: 24px;
    color:black;
    font-family:'roboto', sans-serif ;
  }
  
.social-media .ligne{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.social-media{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 5%;
}

.formulaire-titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.formulaire-titre h4{
    text-align: center;
    color: #000000;
    opacity: 0.8;
    font-family: 'Nunito',sans-serif;
}

.formulaire-titre h1{
    color: #EF993D;
    font-family:'poppins',sans-serif;
    text-shadow:0 0 20px #EF993D , 0 0 40px #EF993D ;
}

.information {
    display:flex ;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.ligne-info{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}
.ligne-info .information label {
    color: black;
    font-family:'roboto',sans-serif; 
    font-size: 18px;
    
}

.ligne-info .information label span{
    color: #EF993D;
}

.ligne-info .information input{
    width: 40rem;
    height: 50px;
     box-shadow:3px 5px  2px #99BEA9 ;
     padding: 10px;
}

.ligne-info .information textarea{
     box-shadow:3px 5px  2px #99BEA9 ;
     height: 200px;
     padding: 10px;
}
.formulaire{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 20px; */
}
.ligne-info .button{
    border:3px solid #EF993D ;
    box-shadow:3px 5px  2px #99BEA9 ;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    background-color: transparent;
    color: black;
    /* margin-left: 15px; */
    font-family:'roboto',sans-serif;
    transition: all 0.4s ease-in-out;

    
}
.ligne-info .button:hover{
    background-color: #EF993D ; 
    color: white;
    box-shadow: 3px 5px 15px 2px #EF993D ,3px 5px 15px 2px #EF993D;
    font-size: larger;
}
#btn{
   display: flex;
   justify-content: center;
}
#starbtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.formulaire p{
    color: #706f6f;
    font-family:'roboto',sans-serif;
    
    
} 
.required{
    color: #EF993D;
}

/* feedback page */



.container{
    width: 1170px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.feedback-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.feedback-intro h4{
    text-align: center;
    color: #000000;
    opacity: 0.8;
    font-family: 'Nunito',sans-serif;
}

.feedback-intro h2{
    color: #EF993D;
    font-family:'poppins',sans-serif;
    text-shadow:0 0 20px #EF993D , 0 0 40px #EF993D ;
}
.feedback-intro h5::first-letter{
    color: #EF993D;
    font-weight: bold; 
}

.etoile{
   
    display: flex;
    align-items: center;
    gap: 40px;
}
.rating{
    display: flex;
    flex-direction: row-reverse;
}
.rating span{
    cursor: pointer;
    transition: color .2s , transform .2s ;
    font-size: 40px;
    color: #706f6f;
}
.rating span:hover{
    color: #EF993D;
    transform: scale(1.2);
}

.rating span:hover ~ span{
    color: #EF993D;
}
.ligne-info .etoile label{
    color: black;
    font-family:'roboto',sans-serif ;
    font-size: 18px;
    width: 150px;
}


.profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow:hidden ;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user h5{
    font-weight: bold;
    color: #EF993D;
    font-size: 1.1rem;
}
.name-user span{
    color:#706f6f;
    font-size: 0.8rem;
}
.review{
    color: #EF993D;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

 .box-container{
    display: flex;
     justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
} 
.box{
    width: 600px;
    box-shadow:3px 5px 15px 2px #99BEA9 ;
    background-color: white;
    padding: 20px;
     margin: 15px;
    cursor: pointer;
}
.box:hover{
    transform: translateY(-15PX);
}

.comment p{
    font-size: 0.9rem;
}
.feedback-title{
    text-align: center;
    margin-top: 40px;
}
.feedback-title h3{
    color: #EF993D;
    font-family:'Dancing Script', cursive;
    text-shadow:0 0 20px #EF993D , 0 0 40px #EF993D ;
}
