*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
.home-body{
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),
    url(picture/6.jpg);
    background-size: cover;
    
    
}
.menu-bar{
    text-align: center;
}
.menu-bar ul{ 
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.menu-bar i {
    margin-right: 5px;
}
.active, .menu-bar ul li:hover{
    border-radius: 3px;
}

.sub-menu{
    display: none;
    padding-right: 50px;
}
.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: azure;
}
.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu ul li{
    width: 70px;
    padding: 10px;
}
 .home-title{
    font-family: 'Dancing Script', cursive;
    color:EB7154;
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
} 
.home-title .quote{
    text-shadow: 0 0 20px #EF993D , 0 0 40px white;

}
.home-title .quote .what{
    margin-left: 23px;
}
.book-button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: EB7154;
    border: none;
    color: white;
}
